
<body class="indexBody">
    


<header>
            
    <div class="container">

        <div id="row" class="row">
            <div class="col-sm-5">
                <a class="navbar-brand" >
                    <img routerLink="/index" src="../../../assets/img/logo.png" alt="Bootstrap" width="250" height="100">
                </a>
            </div>

            <div class="col-sm-4">
                <p id="gestion" class="text fw-bold my-5">Gestión de clientes IPTEL Play
                </p>
                <br>
                <p> <strong> Usuario: {{usuario}}</strong></p>
                <p> <strong> Perfil: {{perfil}} </strong></p>
            </div>

                
            

            
            
            
            <div class="col-sm-3">
                <button  routerLink="/index" type="button" class="btn btn-dark btn-circle mt-5 mx-4">
                    <span class="material-symbols-outlined">
                        mode_off_on
                    </span>
                </button>
            </div>
        </div>
    </div>


</header>


<div class="container py-5">
<form class="d-flex justify-content-center" role="search">
    <input class="form-control number fw-bold"   [(ngModel)]="nroCliente" name="nroCliente" id="input" type="number" min="1" pattern="^[0-9]+" required placeholder="Nº Cliente SIGA" aria-label="Search">
</form>
</div>


<main>

<!-- First mobile buttons -->
<div class="container text-center">
<div class="col">

    <div class="row">
        <button id="btns" class="btn my-2 btn-lg" (click)="consultarCliente()" ><abbr title="Consulta los datos del cliente en SIGA y Rocstar.">Consultar datos</abbr></button>
    </div>
    
    <div class="row">
        <button id="btns" class="btn my-2 btn-lg" ><abbr title="Reenvio por email, de credenciales de acceso al cliente, con los datos de SIGA.">Reenviar credenciales</abbr></button>
    </div>
    
    <div class="row">
        <button id="btns" class="btn my-2 btn-lg" ><abbr title="Actualiza el usuario de acceso a Rocstar, con el email de SIGA. Está acción se utiliza, para actualizar el usuario cuando el mail de SIGA se actualiza, sin modificar la contraseña.">Actualizar user Siga -> Rocstar</abbr></button>
    </div>
    
    <div class="row">
        <button  id="btns" class="btn my-2 btn-lg" ><abbr title="Actualiza los datos de usuario y contraseña de acceso a Rocstar, con los datos que están en SIGA. Esto acción se utiliza, para volver a los datos originales que le llegaron al cliente en el alta.">Act. user/pw Siga->Rocstar</abbr></button>
    </div>
    
    <div class="row">
        <button id="btns" class="btn my-2 btn-lg" ><abbr title="Actualiza las suscripciones del cliente cuando se agregan nuevas a Rocstar y las del cliente quedan desactualizadas.">Actualizar las suscripciones</abbr></button>
    </div>
   
    <div class="row">
        <button id="btns" class="btn my-2 btn-lg" ><abbr title="Activa el cliente cuando en estado de cliente, figure como CHURNED en Rocstar.">Rehabilitar en Rocstar</abbr></button>
    </div>
   
    <div class="row">
        <button id="btns" class="btn my-2 mb-4 btn-lg" ><abbr title="Actualiza las suscripciones del cliente, usuario y password, reenvio de correo y consulta de lo ejecutado.">Gestión total</abbr></button>
    </div>

    <div class="row">
        <button id="btns" class="btn my-2 btn-lg" (click)="obtenerSucursales()" ><abbr title="Sucursales SIGA">Obtener Sucursales</abbr></button>
    </div>
    <div>
        Nombre de Sucursal:{{sucursal1}}
    </div>
     <!-- <li *ngFor="let item of listaSucursales; index as i">{{item[i]}}</li> 
    -->
    <select name="sucursal" ngModel>
        <option value="" disabled>Seleccione una localidad</option>
        <option *ngFor="let sucursal of listaSucursales" [ngValue]="sucursal.Id">
          {{ sucursal.Nombre}}
        </option>
      </select>
      
</div>
</div>

<br>
<br>

<strong> Consulta de datos del cliente: {{mensajeCliente}}</strong>
    <div class="table-responsive">
                <table class="table table-sm table-bordered">
                    <thead class="table-dark">
                    <tr>
                        <th>Nro cliente:</th>
                        <th>Email:</th>
                        <th>Nombre:</th>
                        <th>Apellido:</th>
                        <th>Estado:</th>
                        <th>Ref:</th>
                        <th>ID Rocstar:</th>
                        <th>ID user Rocstar:</th>
                        <th>Login:</th>
                        <th>Tenant Id:</th>
                        <th>Modificado por:</th>
                        <th>Suscripciones:</th>
                    </tr>
                </thead>
                <tbody>
                    <td> <strong>{{numerocliente}}</strong></td>
                    <td><strong>{{emailCliente}}</strong></td>
                    <td><strong>{{nombreCliente}}</strong></td>
                    <td><strong>{{apellidoCliente}}</strong></td>
                    <td><strong>{{estadoCliente}}</strong></td>
                    <td><strong>{{refCliente}}</strong></td>
                    <td><strong>{{rocstarId}}</strong></td>
                    <td><strong>{{userIdRocstar}}</strong></td>
                    <td><strong>{{loginCliente}}</strong></td>
                    <td><strong>{{idTenant}}</strong></td>
                    <td><strong>{{modificado}}</strong></td>
                    <td *ngFor="let itemSuscripciones of listaSuscripciones"><strong>{{itemSuscripciones}}</strong></td>
                    
                </tbody>
               
                  </table>
              
                </div>            

</main>

</body>



