<body>
  

<div class="loginBody">
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <a routerLink="/index"><img src="../../../assets/img/logo.png" id="icon" alt="User Icon"/> </a>
      </div>

      <div>
        <h2>IPTEL PLAY</h2>
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Usuario">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="Contraseña">
        <a routerLink="/layout1"><input type="submit" class="fadeIn fourth" value="Login" routerLink="/layout1"></a>
      </form>

      <div>
        <p style="font-size:11px;">IPtel 2022.</p>
      </div>
        
      </div>
  
    </div>
</div>
</body>