<!-- https://angularapp-ten.vercel.app/ -->

<body>
  

<div class="loginBody">
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img routerLink="/index" src="../../../assets/img/logo.png" id="icon" alt="User Icon"/> 
      </div>

      <div>
        <h2>IPTEL PLAY</h2>
      </div>
  
      <!-- Login Form -->
      <form>
        <div class="container">
          <div class="col">
        <input type="email" id="login" class="fadeIn second" name="login" placeholder="Usuario">
        <input type="password" id="password" class="fadeIn third" name="login" placeholder="Contraseña">
        <input routerLink="/layout1" type="submit" class="fadeIn fourth" value="Login" >
          </div>
        </div>
      </form>

      <div>
        <p style="font-size:11px;">IPtel 2022.</p>
      </div>
        
      </div>
  
    </div>
</div>
</body>