<!-- https://angularapp-ten.vercel.app/ -->

<body>
  

<div class="loginBody">
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img routerLink="/index" src="../../../assets/img/logo.png" id="icon" alt="User Icon"/> 
      </div>

      <div>
        <h2>IPTEL PLAY</h2>
      </div>
  
      <!-- Login Form -->
      <form method="post">
        <div class="container" >
          <div class="col">
        <input type="email" [(ngModel)]="email" class="fadeIn second" name="email" placeholder="Ingrese su email" required="required">
        <input type="password" [(ngModel)]="password" class="fadeIn third" name="password" placeholder="Contraseña" required="required">
        <button type="submit" class="fadeIn.fourth" (click)="login()" >Ingresar</button>
          </div>
        </div>
      </form>
      <div>
        <p style="font-size:11px;">{{errorlogin}}</p>
      </div>
      <div>
        <p style="font-size:11px;">IPtel 2022</p>
      </div>
        
      </div>
  
    </div>
</div>
</body>